<p>list work!!</p>
<div class="container custom-container-2">
  <!-- Show it when there is no employee -->
  <!--<div class="no-data text-center" *ngIf="Employee.length == 0"></div>-->
  <br />
  <div class="no-data text-center">
    <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
  </div>
  <br />
  <!-- Employees list table, it hides when there is no employee -->
  <div *ngIf="Employee.length !== 0">
    <h3 class="mb-3 text-center">Employees List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of Employee">
            <td>{{employee.UserNo}}</td>
            <td>{{employee.UserName}}</td>
            <td>
              <span class="edit" (click)="updateEmployee(employee.UserNo)">Edit</span>
              <span class="delete" (click)="deleteEmployee(employee.UserNo)">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
